
@if (TempData["TestSkills"] != null)
{
    <input type="hidden" id="SkillVal" value="12" />
    <input type="hidden" id="Id" value="@TempData["SkillId"]" />
    <div class="button-sec">
        @foreach (var i in (List<EasySystemAPI.Models.SkillType>)TempData["TestSkills"])
        {
            <a asp-controller="My" asp-action="CertificationTest" asp-route-id="@i.StId" asp-route-Name="@i.StName" class="button pulse-grow">@i.StName</a>
        }
    </div>
}






