
@{
    ViewData["Title"] = "About";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../../Public/images/img_bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>We envision a world where anyone, anywhere can transform their life by accessing the world’s best learning experience</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="colorlib-about" class="colorlib-light-grey">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 row-pb-md animate-box">
                <div class="video colorlib-video" style="background-image: url(../../Public/images/img_bg_1.jpg);">
                    <a href="https://www.youtube.com/watch?v=p4PjwTuHARY" class="popup-vimeo"><i class="icon-play3"></i></a>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1 text-center animate-box">
                <div class="about-wrap">
                    <div class="heading-2">
                        <h2>About Universal Skills</h2>
                    </div>

                    <p>
                        Every training on Universal Skills is taught by top instructors from world-class universities and companies, so you can learn something new anytime, anywhere. Hundreds of free trainings give you access to on-demand video lectures, homework exercises, and community discussion forums. Paid trainigs provide additional quizzes and projects as well as a shareable Course Certificate upon completion.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 animate-box">
                <p>If you want to master a specific career skill, consider enrolling in a Specialization. You’ll complete a series of rigorous courses at your own pace, tackle hands-on projects based on real business challenges, and earn a Specialization Certificate to share with your professional network and potential employers.</p>
            </div>
            <div class="col-md-4 animate-box">
                <p>Get job-ready for an in-demand career. Whether you’re looking to start a new career or change your current one, Professional Certificates on Universal Skills help you become job-ready. Learn at your own pace from top companies and universities, apply your new skills to hands-on projects.</p>
            </div>
            <div class="col-md-4 animate-box">
                <p>Transform your career with a training online from a world-class university on Universal Skills. Our modular training learning experience gives you the ability to study on your own schedule and earn credit as you complete your course assignments. For a breakthrough price, you’ll learn from top university instructors.</p>
            </div>
        </div>
    </div>
</div>


