
@{
    ViewData["Title"] = "EarningDisclaimer";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="panel-content">
        <div class="main-title-sec">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="heading-profile">
                        <h2>Earning Disclaimer</h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-area">
            <div class="col-md-12">
                <div class="row">

                    <div class="widget white with-padding">

                        <h5>No Guarantee of a Fixed Income</h5>
                        <p>While we make every effort to ensure that we accurately represent all the products and services reviewed on this website and their potential for income, it should be noted that earnings and income statements made by LE SKILLS.com and its advertisers / sponsors are estimates only of what we think you can possibly earn. There is no guarantee that you will make these levels of income and you accept the risk that the earnings and income statements differ by individual.</p>
                        <h5>Earnings May Vary by Individuals</h5>
                        <p>As with any institute, your results may vary, and will be based on your individual capacity, mentorship experience, expertise, and level of desire. There are no guarantees concerning the level of success you may experience. The testimonials and examples used are exceptional results, which do not apply to the average trainer, and are not intended to represent or guarantee that anyone will achieve the same or similar results. Each individual’s success depends on his or her background, dedication, desire and motivation.</p>

                        <br />
                        <div class="container" style="text-align:center;">
                            <span> You can write us an email at <b>care@universalskills.co</b> for any query or suggestion</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Panel Content -->
</div>



