@model ErrorViewModel
@{
    ViewData["Title"] = "Page not found";
}

<div class="main-content">
    <div class="panel-content">
        <div class="main-title-sec">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="heading-profile">
                        <h2>Page not found</h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-area">
            <div class="main-content-area">
                <div class="error-sec">
                    <h2>404</h2>
                    <span>The Page you requested does not exist</span>
                    @*<div class="error-btn"> <a class="c-btn large red-bg radius-s" href="#" title="">Go Back</a> </div>*@
                </div>
            </div>
            <!-- Mail Area -->
        </div>
    </div>
    <!-- Panel Content -->
</div>
