
@{
    ViewData["Title"] = "FAQs";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="main-content">
        <div class="panel-content">
            <div class="main-title-sec">
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="heading-profile">
                            <h2>FAQs</h2>

                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content-area">
                <div class="col-md-12">
                    <div class="row">

                        <div class="widget white with-padding">

                            <h5>1. When can you train others?</h5>
                            <p>This system will help you develop skills within you, once you are comfortable knowing that your skills are advanced and that you are capable of training, you can begin to train others.</p>

                            <h5>2. Can you earn from this system?</h5>
                            <p>You can earn from this system because the purpose of this system is not only to learn but also to earn.</p>
                            <h5>3.  Who do you have to pay a monthly fee for?</h5>
                            <p>If you want to earn, first you have to pay a fee to your mentor, who has spent time developing your skills.</p>
                            <h5>4. How can you earn from this system?</h5>
                            <p>You can only receive a fee from your trainee when you pay a fee to your mentor.</p>
                            <h5>5. How much of the monthly fee paid by Trainee will be paid to Mentor?</h5>
                            <p>Hundred (100%) percent of your monthly fee will be paid to your mentor. Likewise, when your trainee pays you a fee, you will receive Hundred (100%) of the fee.</p>
                            <h5>6. Is there a monthly fee to stay on this system?</h5>
                            <p>If you want to earn then you will have to pay a monthly fee. The fee will be monthly which you will pay to your mentor and you will get monthly fee from all your trainees.</p>
                            <h5>7. What if you don't pay a monthly fee?</h5>
                            <p>One thing to keep in mind here is that if you do not pay a single month's fee to your mentor and the monthly fee that your trainee will pay you this month will go to the Direct Universal Skills account and your trainee will go under the Universal Skills head.</p>
                            <h5>7.1 What happens during this period if you do not pay your monthly fee?</h5>
                            <p>Unless you submit your monthly fee, all of your trainees will pay monthly fee to the Universal Skills account and they will become Universal Skills' trainees.</p>
                            <h5>7.2 Can you undo your lost trainee?</h5>
                            <p>You can never take back your lost trainees.</p>
                            <h5>7.3 What should you be careful about when paying a monthly fee?</h5>
                            <p>One thing will be taken into consideration here, you have to pay your monthly fee on time.</p>
                            <h5>8. What is the monthly fee amount?</h5>
                            <p>The monthly fee you pay to your Mentor that is One Thousand to Ten Thousand Pakistani Rupees for Pakistani users and USD5 to USD5000 for other countries' users, exact amount depends on your mentor how much your mentor set monthly fee for trainees. Similarly, it will up to you how much you set monthly fee to your trainees which can be up to Ten Thousand Pakistani Rupees for Pakistani users and USD5 to USD5000 for other countries' users for one month.</p>
                            <h5>9. How many times can you make a money transfer request in thirty days?</h5>
                            <p>In this system the request to transfer money to your personal bank account is made only once in 30 days. You must wait 30 days to submit the next request.</p>
                            <h5>10. How many days will the money transfer request be completed?</h5>
                            <p>The Universal Skills will process your request within four to seven working days and will transfer the money to your personal bank account.</p>
                            
                            <br />
                            <div class="container" style="text-align:center;">
                                <span > You can write us an email at <b>care@universalskills.co</b> for any query or suggestion</span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Panel Content -->
    </div>
