
@{
    ViewData["Title"] = "Privacy_Policy";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="main-content">
        <div class="panel-content">
            <div class="main-title-sec">
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="heading-profile">
                            <h2>Privacy Policy</h2>

                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content-area">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="widget white with-padding">
                                <p>
                                    <h5>What personal information do we collect from the people that visit our blog, website or app?</h5>
                                    When registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number or other details to help you with your experience.
                                </p>
                                <p>
                                    <h5>When do we collect information?</h5>
                                    We collect information from you when you register on our site, subscribe to a newsletter, fill out a form or enter information on our site. Provide us with feedback on our products or services.
                                </p>
                                <p>
                                    <h5>How do we use your information?</h5>
                                    We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
                                <p>
                                    • To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
                                </p>
                                <p>
                                    • To improve our website in order to better serve you.
                                </p>
                                <p>
                                    • To allow us to better service you in responding to your customer service requests.
                                </p>
                                <p>
                                    • To administer a contest, promotion, survey or other site feature.
                                </p>
                                <p>
                                    • To quickly process your transactions.
                                </p>
                                <p>
                                    • To ask for ratings and reviews of services or products
                                </p>
                                <p>
                                    • To follow up with them after correspondence (live chat, email or phone inquiries)
                                </p>

                                </p>
                                <p>
                                    <h5>Do we use 'cookies'?</h5>
                                    Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
                                </p>
                                <p>
                                    <h5>We use cookies to:</h5>

                                </p>
                                <p>Understand and save user's preferences for future visits.</p>
                                <p>
                                    Keep track of advertisements.
                                </p>

                                <p>We may also use trusted third-party services that track this information on our behalf.</p>
                                <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since the browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.</p>
                                <p>If you turn cookies off, some features will be disabled. It won't affect the user's experience that make your site experience more efficient and may not function properly.</p>
                                <p>
                                    However, you will still be able to use application.
                                </p>


                                <br />
                                <div class="container" style="text-align:center;">
                                    <span> You can write us an email at <b>care@universalskills.co</b> for any query or suggestion</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Panel Content -->
    </div>
