
@{
    ViewData["Title"] = "Refund Policy";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
    <div class="container">
        <div class="row row-pb-md">

            <div class="col-md-10 col-md-offset-1 text-center animate-box">
                <div style="text-align:left" class="Universal Skills-tos-text">
                    <div class="rc-AboutSection" id="refund-policy" data-reactid="350">
                        <hr class="header-after" data-reactid="351"><h1 data-reactid="352">Refund Policy</h1>
                        <hr class="header-after" data-reactid="353"><div id="introduction-refund-policy" data-reactid="354">
                            <div class="rc-Markdown styled" data-reactid="355">
                                <p data-reactid="356">
                                    <em data-reactid="357">
                                        <!-- react-text: 358 -->Effective as of April 25, 2020.<!-- /react-text -->
                                    </em>
                                </p><p data-reactid="359">
                                    <!-- react-text: 360 -->For details on our refund deadlines and policies, please refer to the information below. Please note that our policies differ between fee payments and one-time payments made for course, Specialization, and guided project purchases, and that payment options may vary from one Service to another. Please also note that we treat violations of our Terms of Use and Honor Code very seriously, and we have no obligation to offer refunds to users who violate these terms, even if their requests are made within the designated refund period. Similarly, we have no obligation to offer late refunds to users who do not receive a passing mark in the Content Offering, or who are otherwise unsatisfied with their final grade.<!-- /react-text -->
                                </p>
                            </div>
                        </div><div id="for-month-to-month-Fee-refund-policy" data-reactid="366">
                            <div class="rc-Markdown styled" data-reactid="367">
                                <p data-reactid="372">
                                    <!-- react-text: 373 -->Your fee will continue on a month-to-month basis unless and until you cancel or the fee is suspended or discontinued by Universal Skills. For Fee to individual Specializations, Universal Skills will automatically discontinue your fee at the end of the monthly period during which you earn a Specialization Certificate for the Specialization, unless you have subscribed through a third party marketplace that restricts Universal Skills's ability to do so -- e.g., in-app purchases through the Apple App Store. Please visit the third party marketplace for information regarding their policies.
                                    You must cancel your fee before your monthly renewal date to avoid the next billing.<!-- /react-text -->
                                </p><p data-reactid="377"><!-- react-text: 378 -->If you cancel your subscription, cancellation will be effective at the end of the current monthly period; you will have continued access to your fee for the remainder of that period, but you will not receive a refund.<!-- /react-text --></p>
                            </div>
                        </div><div id="for-Universal Skills-plus-refund-policy" data-reactid="379"><div class="rc-Markdown styled" data-reactid="380"><p data-reactid="383"><!-- react-text: 384 -->To get a full refund of your Universal Skills Training fee payment, submit a refund request via the email, info@universalSkills.co within 14 days of your payment. Refunds will not be provided if requested after this 14-day period.<!-- /react-text --></p><p data-reactid="388"><!-- react-text: 389 -->Your Universal Skills Professionals fee will continue for the fee period identified at the time of your purchase and then automatically renew unless and until you cancel your fee or the fee is suspended or discontinued by Universal Skills.<!-- /react-text --></p><p data-reactid="390"><!-- react-text: 391 -->If you cancel your fee after the first 14 days of your fee period, you will continue to have access until the end of the fee period and will not be billed for the next billing cycle.<!-- /react-text --></p></div></div>


                    </div>


                </div>

            </div>
        </div>

    </div>
