
@{
    ViewData["Title"] = "TermsAndConditions";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="panel-content">
        <div class="main-title-sec">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="heading-profile">
                        <h2>Terms And Conditions</h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-area">
            <div class="col-md-12">
                <div class="row">

                    <div class="widget white with-padding">
                        <h5>ACCOUNTS</h5>
                        <p>

                            When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.
                        </p>
                        <p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>
                        <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>

                        <h5>CLAUSES</h5>
                        <p>1. This system will help you develop skills within you, once you are comfortable knowing that your skills are advanced and that you are capable of training, you can begin to train others.</p>
                        <p>2. You can earn from this system because the purpose of this system is not only to learn but also to earn. </p>
                        <p>3. If you want to earn, first you have to pay a fee to your mentor, who has spent time developing your skills.</p>
                        <p>4. You can only receive a fee from your trainee when you pay a fee to your mentor.</p>
                        <p>5. Hundred (100%) percent of your monthly fee will be paid to your mentor. Likewise, when your trainee pays you a fee, you will receive Hundred (100%) of the fee.</p>
                        <p>6. If you want to earn then you will have to pay a monthly fee. The fee will be monthly which you will pay to your mentor and you will get monthly fee from all your trainees.</p>
                        <p>7. One thing to keep in mind here is that if you do not pay a single month's fee to your mentor and the monthly fee that your trainee will pay you this month will go to the Direct Universal Skills account and your trainee will go under the Universal Skills head.</p>
                        <p>Unless you submit your monthly fee, all of your trainees will pay monthly fee to the Universal Skills account and they will become Universal Skills' trainees.</p>
                        <p>7.2.	You will never receive your trainees back.</p>
                        <p>7.3.	One thing will be taken into consideration here, you have to pay your monthly fee on time.</p>


                        <p>8.	The monthly fee you pay for your Mentor that is Two Thousand Pakistani Rupees (i.e 2000/- pkr).</p>
                        <p>9.	In this system the request to transfer money to your personal bank account is made only once in 30 days. You must wait 30 days to submit the next request.</p>
                        <p>10.	The company will process your request within four to seven working days and will transfer the money to your personal bank account.</p>


                        <h5>LINK TO OTHER WEB SITES</h5>
                        <p>Our Service may contain links to third-party websites or services that are not owned or controlled by LE SKILLS.</p>
                        <p>LE SKILLS has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that LE SKILLS shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
                        <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit. </p>

                        <h5>TERMINATION</h5>
                        <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
                        <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
                        <p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
                        <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>
                        <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability. </p>

                        <h5>CHANGES</h5>
                        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days’ notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
                        <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>

                        <br />
                        <div class="container" style="text-align:center;">
                            <span> You can write us an email at <b>care@universalskills.co</b> for any query or suggestion</span>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Panel Content -->
</div>
