
@{
    ViewData["Title"] = "LoginLogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="panel-content">
        <div class="main-title-sec">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="heading-profile">
                        <h2>Login Logs</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-area">
            <div class="row">
                <div class="col-md-12">
                    <div id="Notifocation">
                        @if (TempData["Info"] != null)
                        {
                            <div role="alert" class="alert alert-info">
                                <strong><i class="fa fa-info-circle"></i></strong>
                                @TempData["Info"].
                            </div>
                        }
                        @if (TempData["Success"] != null)
                        {
                            <div role="alert" class="alert alert-success">
                                <strong><i class="fa fa-thumbs-o-up"></i></strong>
                                @TempData["Success"].
                            </div>
                        }
                        @if (TempData["Error"] != null)
                        {
                            <div role="alert" class="alert alert-danger">
                                <strong><i class="fa fa-thumbs-o-down"></i></strong>
                                @TempData["Error"].
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="widget white with-padding">
                            <form asp-action="" method="post">
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label for="exampleInputEmail2">Seach by</label>
                                        <select class="form-control" id="search">
                                            <option value="0">Seach by</option>
                                            <option value="1">UserName</option>
                                            <option value="2">Date</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4" id="usr">
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">Select User</label>
                                            @Html.DropDownList("usrId", (SelectList)ViewData["Users"], "Select User", new { @id = "usrId", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" id="frDate">
                                            <label for="exampleInputEmail2">From Date</label>
                                            <input type="text" class="form-control date-picker" id="fDate" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" id="toDate">
                                            <label for="exampleInputEmail2">To Date</label>
                                            <input type="text" class="form-control date-picker" id="tDate" />
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info" id="btnShow" style="background-color:#1b3767">Search</button>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Panel Content -->
</div>
<script src="~/js/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("#usr").hide();
        $("#btnShow").hide();
        $("#frDate").hide();
        $("#toDate").hide();
    });
</script>

<script>
    $(function () {
        $("#search").change(function () {
            var val = $(this).val();
            if (val == 1) {
                $("#usr").show();
                $("#btnShow").show();
                $("#frDate").hide();
                $("#toDate").hide();
            } else if (val == 2) {
                $("#usr").hide();
                $("#btnShow").show();
                $("#frDate").show();
                $("#toDate").show();
            }

            else {
                $("#usr").hide();
                $("#btnShow").hide();
                $("#frDate").hide();
                $("#toDate").hide();
            }
        });
    });
</script>