
@{
    ViewData["Title"] = "UpdateSkillName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="panel-content">
        <div class="main-title-sec">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="heading-profile">
                        <h2>Update Skill Name</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-area">
            <div class="row">
                <div class="col-md-12">
                    <div id="Notifocation">
                        @if (TempData["Info"] != null)
                        {
                            <div role="alert" class="alert alert-info">
                                <strong><i class="fa fa-info-circle"></i></strong>
                                @TempData["Info"].
                            </div>
                        }
                        @if (TempData["Success"] != null)
                        {
                            <div role="alert" class="alert alert-success">
                                <strong><i class="fa fa-thumbs-o-up"></i></strong>
                                @TempData["Success"].
                            </div>
                        }
                        @if (TempData["Error"] != null)
                        {
                            <div role="alert" class="alert alert-danger">
                                <strong><i class="fa fa-thumbs-o-down"></i></strong>
                                @TempData["Error"].
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="widget white with-padding">

                            <div class="row">
                                <div class="col-md-12">
                                    <div id="Data">

                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Panel Content -->
</div>


<div class="modal fade" id="UpdateModal">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <h4 class="modal-title">Update Name</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modelContent">

            </div>



            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script src="~/js/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        GetMainData();
    });
</script>


<script>
    function GetMainData()
    {
                $.ajax({
                    url: "@Url.Action("_SkillNameData", "Admin")",
                    type: "Get",
                    dataType: "html",
                    success: function (data) {
                        $("#Data").html(data);
                    }
                });
    }
</script>



<script>
    function createModal(url) {
        $('#modelContent').load(url);
        $('#UpdateModal').modal('show');
    }
</script>



