@model EasySystem.Models.Users
@{
    ViewData["Title"] = "Forget_Password";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_InitialLayout.cshtml";
}

    <div class="acount-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    @if (TempData["Info"] != null)
                    {
                        <div role="alert" class="alert alert-info">
                            <strong><i class="fa fa-info-circle"></i></strong>
                            @TempData["Info"].
                        </div>
                    }
                    @if (TempData["Success"] != null)
                    {
                        <div role="alert" class="alert alert-success">
                            <strong><i class="fa fa-thumbs-o-up"></i></strong>
                            @TempData["Success"].
                        </div>
                    }
                    @if (TempData["Error"] != null)
                    {
                        <div role="alert" class="alert alert-danger">
                            <strong><i class="fa fa-thumbs-o-down"></i></strong>
                            @TempData["Error"].
                        </div>
                    }

                    <div class="contact-sec">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="widget-title">
                                    <h3>Forget Password</h3>
                                    <span>Fill your detail to get in</span>
                                </div>
                                <!-- Widget title -->
                                <div class="account-form">
                                    <form asp-action="Forget_Password">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="row">
                                            <div class="input-group">
                                                <select asp-items="(SelectList)@ViewData["Country"]" name="cCode" style="width:100px !important; margin-right:5px !important; color:gray; border-color:darkgray;" required></select>
                                                <input type="number" asp-for="usrPhone" class="form-control" placeholder="Phone Number" required />
                                            </div>
                                            <div class="feild col-md-12">
                                                <input type="submit" value="Submit" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="more-option"> <span>OR</span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="creat-an-account">
                                    <span>Mistakenly here?</span> <a asp-controller="Users" asp-action="Login" title="Go to Login Page">Log In</a>
                                </div>
                                <!-- Create an account -->
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



    