@model EasySystem.Models.Users
@if (TempData["Number"] != null)
{
    TempData.Keep("Number");
}

@{
    ViewData["Title"] = "Reset_Password";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_InitialLayout.cshtml";
}

<div class="acount-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                @if (TempData["Info"] != null)
                {
                    <div role="alert" class="alert alert-info">
                        <strong><i class="fa fa-info-circle"></i></strong>
                        @TempData["Info"].
                    </div>
                }
                @if (TempData["Success"] != null)
                {
                    <div role="alert" class="alert alert-success">
                        <strong><i class="fa fa-thumbs-o-up"></i></strong>
                        @TempData["Success"].
                    </div>
                }
                @if (TempData["Error"] != null)
                {
                    <div role="alert" class="alert alert-danger">
                        <strong><i class="fa fa-thumbs-o-down"></i></strong>
                        @TempData["Error"].
                    </div>
                }
                <div class="contact-sec">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="widget-title">
                                <h3>Reset Password</h3>
                                <span>Fill your detail to get in</span>
                            </div>
                            <!-- Widget title -->
                            <div class="account-form">
                                <form asp-action="Reset_Password">
                                    <div class="row">
                                        <div class="feild col-md-12">
                                            <input type="password" asp-for="usrPassword" placeholder="Password" required />
                                            <input type="hidden" asp-for="usrPhone" value="@TempData["Number"]" />
                                        </div>
                                        <div class="feild col-md-12">
                                            <input type="password" placeholder="Re Type Password" name="rePass" required />
                                        </div>
                                        <div class="feild col-md-12">
                                            <input type="submit" value="Submit" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="more-option"> <span>OR</span> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="creat-an-account">
                                <span>Don't have an account?</span> <a asp-controller="Users" asp-action="SignUp" title="Go to Sign Up Page">Create Account</a>
                            </div>
                            <!-- Create an account -->
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>




